/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 14, 2016, 4:35:37 PM
    Author     : DO KIEN
*/
/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}
.navbar-header .navbar-brand{
    text-transform: capitalize;
}
/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
    margin-top: 20px;
    height: auto}

/* Set gray background color and 100% height */
.sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
}

/* Set black background color, white text and some padding */
footer {
    background-color: #555;
    color: white;
    padding: 15px;
}

.navbar-header .navbar-form{
    float:left;
}
#account_link{
    float:right;
    margin-left: 550px; 
}
.dropdown-menu > li > a >i{
    margin-right: 3px;
} 

.navbar-nav > li > a
{
        position: relative;
    display: block;
    padding: 10px 14px;
}
/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {height:auto;}
}

.content > .lesson h4{
    font-weight: 500;
    font-size: 1.7em;
    color: #000; 
    color: #C30;
}
@media (min-width: 1200px){
    #wrapper {
        width: 1170px;
        margin: auto;
    }
}
.nav > .item{
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    font-weight: bold;
}
.container-fluid .row .lesson{
    
}